@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-blue: #2563EB;
  --color-brand-dark: #000000;
  --color-brand-gray: #444444;
}

@layer base {
  body {
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

/* Custom Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}